# Dependencias
node_modules/
.pnpm-store/

# Builds
dist/
build/
out/
*.tsbuildinfo

# Entorno
.env
.env.local
.env.*.local
.env.production
.env.development

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Editores
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# Prisma
backend/prisma/migrations/dev.db
backend/prisma/*.db

# Testing
coverage/
.nyc_output/

# Docker
docker-compose.override.yml

# Vercel
.vercel

# Env específicos
.env.test